.bg{
    position: fixed; /* Ensures the background is fixed and covers the whole viewport */
    top: 0;
    left: 0;
    background-color: rgba(210, 208, 208, 0.7); /* Semi-transparent background */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Places the modal on top of everything */
    .card{
        border: 1px solid black;
        border-radius: 20px;
        padding: 2.5em 4em;
        background-color: white;
        
        .cross{
           display: flex;
           margin-left: 19em;
           img{
            width: 30px;
           }
        }
        .card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
            .input-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                input{
                    width: 19em;
                    height: 3em;
                    border: 1px solid black;
                    outline: none;
                    text-align:center;
                    border-radius: 10px;
                }
            }
            .btn{
                button{
                    padding: 0.5em 2em;
                    border: 1px solid #ffc048;
                    background-color: #ffc048;
                }
            }
        }
    }
}

@media (max-width:770px) {
    .bg{
        .card{
            width: 80%;
            .cross{
                margin-left: 100%;
            }
        }
    }
}